:root {
    --body-padding: 30px;
    --main-padding: 50px;
    --nav-item-size: 98px;
    --screen-green: #08150c;
    --screen-secondry: #112f1a;
    --neon-green: #18DC0C;
    --neon-blue: rgb(46,207,255);
    --neon-amber: rgb(255,182,66);
    --neon-white: rgb(228, 255, 255);
    --font: 'Monofonto';
    --active-primary-color: var(--neon-green);
    --active-secondry-color: var(--screen-secondry);
}

@font-face {
    font-family: 'Monofonto';
    src: url("./fonts/Monofonto-Regular.woff2") format('woff2'),
        url('./fonts/Monofonto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
    font-display: swap;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}
* {
    font-family: var(--font);
    color: var(--active-primary-color);
}
body {
    max-height: 100vh;
    background-color: #4F422F;
    padding: var(--body-padding);
    box-shadow: inset 0px 0px 3px 0px #000;   
    overflow: hidden;
}
main {
    height: 100%;
}
li {
    list-style-type: circle;
}
.colors {
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.colors button {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}
.header {
    position: absolute;
    padding-bottom: 15px;
    background-color: var(--screen-green);
    z-index: 2;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: var(--screen-secondry);
}
::-webkit-scrollbar-thumb {
    background: var(--active-primary-color);
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.neon-green {
    color: var(--active-primary-color);
}
.main-content {
    background-color: #000;
    border-radius: 30px;
    padding: var(--main-padding);
    height: 100%;
    box-shadow: 0px 0px 23px 5px #000;
}
.pip-outer {
    height: calc(100vh - ((calc(var(--body-padding) + var(--main-padding))) * 2));
    width: 100%;
    border-radius: 20px;
    background: var(--screen-green);
    /*background: linear-gradient(0deg, rgba(106,141,102,1) 0%, var(--screen-green) 10%, rgba(19,35,22,1) 90%, rgba(106,141,102,1) 100%);*/
    box-shadow: inset 0px 0px 3px 0px #000;
    box-sizing: border-box;
    position: relative;
    padding: var(--main-padding);
}
.pip-outer:before {
    content: "";
    border: 10px solid rgba(106, 141, 102, 1);
    height: 100%;
    filter: blur(16px);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}
.swiper {
    height: 100%;
}
.pip-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}
.navbar {
    display: flex;   
}
.nav-inner {
    display: flex;
    gap: 10px;
    position: relative;
}
.nav-inner:after {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% + 50px);
    height: 2px;
    background-color: var(--active-primary-color);
    bottom: 0;
    right: 0;
    left: -50px;
    transition: .5s;
}
.nav-item {
    padding: 10px 25px;
    position: relative;
    background-color: transparent;
    border: 0;
    color: var(--active-primary-color);
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 2px solid transparent;
    opacity: .3;
}
.nav-item.active {
    border-bottom: 2px solid var(--screen-green);
    z-index: 1;
    opacity: 1;
}
.nav-item.active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 10px;
    height: 20px;
    border-top: 2px solid var(--active-primary-color);
    border-left: 2px solid var(--active-primary-color);
}
.nav-item.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 10px;
    height: 20px;
    border-top: 2px solid var(--active-primary-color);
    border-right: 2px solid var(--active-primary-color);
}
.slide-half-left {
    max-width: 480px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px; 
    padding-top: 20%;
}
.slide-half-right { 
    background:
    linear-gradient(to right, var(--active-primary-color) 2px, transparent 2px) 0 0,
    linear-gradient(to right, var(--active-primary-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--active-primary-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--active-primary-color) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--active-primary-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--active-primary-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--active-primary-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--active-primary-color) 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    max-width: 800px;
    width: 100%;
    padding: 20px 15px 20px 20px;
    display: flex;
    height: 90%;
}
.inner-right-content {
    overflow-y: auto;
}
.slide-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height: 100%;
}
.inner-inner {
    padding: 6px 20px;
}
.footer-inner {
    display: flex;
    gap: 8px;
}
.footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: var(--screen-green);
}
.age {
    color: var(--active-primary-color);
    text-transform: uppercase;
    background-color: var(--screen-secondry);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.bar {
    position: relative;
    height: 15px;
    border: 2px solid var(--active-primary-color);
    max-width: 100%;
    width: 150px;
}
.bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    background-color: var(--active-primary-color);
    display: block;
}

.generic-pip {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    pointer-events: none;
}
.heading {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--active-primary-color);
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.slide-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.slide-nav button {
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.tabcontent img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 25px;
    pointer-events: none;
}
.tab {
    overflow: hidden;
    border: 0;
    background-color: transparent;
}
.tab button {
    background-color: transparent;
    color: var(--active-primary-color);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
}
.tab button:hover {
    background-color: var(--active-primary-color);
    color: var(--screen-green);
  }
.tab button.active {
    background-color: var(--active-primary-color);
    color: var(--screen-green);
}
.tabcontent {
    display: none;
    padding: 6px 20px;
    border-top: none;
    overflow-y: auto;
    margin: auto;
}
.tabcontent {
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tabcontent li {
    font-size: 18px;
    line-height: 130%;
    padding-bottom: 10px;
}
.body-text {
    font-size: 18px;
    line-height: 130%;
}
.neon-blue img {
    filter: hue-rotate(70deg);
}
.neon-amber img {
    filter: hue-rotate(270deg)
}
.neon-white img {
    filter: saturate(0);
}


@media screen and (max-width: 1200px) {
    .slide-inner {
        display: block;
    }
    .slide-inner {
        overflow: auto;
    }
    .slide-half-left, .slide-half-right {
        max-width: 95%;
        margin: 0 auto;
    }
    .slide-half-left {
        padding-top: 15%;
        padding-bottom: 5%;
    }
    .slide-half-right {
        margin-bottom: 70px;
        height: auto;
    }
    .header {
        width: 97%;
    }
    .footer {
        width: 97%;
        padding-top: 20px;
    }
    .inner-right-content {
        overflow: hidden;
        max-height: 100% !important;
    }
}

@media screen and (max-width: 780px) {
    .slide-half-right {
        margin-bottom: 160px;
    }
    .nav-item {
        font-size: 16px;
        padding: 10px 15px;
    }
    .body-text, .age {
        font-size: 14px;
    }
    .footer-inner {
        flex-direction: column;

    }
    .age {
        width: 100%;
    }
    .age div {
        width: 100%;
        text-align: center;
    }
    .level {
        justify-content: center;
    }
    .level div {
        width: auto;
    }
    .level .bar {
        width: 150px;
    }
}